@import url('https://fonts.googleapis.com/css?family=Roboto');

#clock h3{
  font-family: 'Roboto', sans-serif;
  background-color: orange;
  width: 500px;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
}
